[Unit]
Description=edna docker service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/roboeagles/edna2023
Environment=HOME=/home/roboeagles
ExecStart=/usr/bin/env /usr/bin/docker compose -f docker-compose.yml up --force-recreate
ExecStop=/usr/bin/env /usr/bin/docker compose -f docker-compose.yml stop
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target