[Unit]
Description=edna docker service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/roboeagles/edna2023
Environment=COMPOSE_HTTP_TIMEOUT=600
ExecStart=/usr/bin/env /usr/bin/docker-compose -f docker-compose.yml up -d --force-recreate
ExecStop=/usr/bin/env /usr/bin/docker-compose -f docker-compose.yml stop
StandardOutput=syslog
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
