<?xml version = "1.0"?>
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro">

    <xacro:property name="arm_link1_length" value="1" />
    <xacro:property name="arm_link1_width" value="1" />
    <xacro:property name="arm_link1_height" value="1" />

    <xacro:macro name = "arm" params = "prefix parent *origin">
        <link name = "${prefix}_link">
            <xacro:inertial_box mass = "1" x = "${arm_link1_length}" y = "${arm_link1_width}" z = "${arm_link1_height}">
                <origin xyz="0 0 0" rpy="0 0 0" />
            </xacro:inertial_box>
            <visual>
                <origin xyz = "0 1 0" rpy = "0 0 0"/>
                <geometry>
                    <box size = "${arm_link1_length} ${arm_link1_width} ${arm_link1_height}"/>
                </geometry>
                <material name = "blue"/>
            </visual>
            <collision>
                <origin xyz = "0 0 0" rpy = "0 0 0"/>
                <geometry>
                    <box size = "${arm_link1_length} ${arm_link1_width} ${arm_link1_height}"/>
                </geometry>
            </collision>
        </link>
        <joint name = "${prefix}_box_joint" type = "fixed">
            <parent link = "${parent}"/>
            <child link = "${prefix}_link"/>
            <xacro:insert_block name = "origin"/>
        </joint>
    </xacro:macro>
</robot>