<?xml version="1.0"?>
<robot name="edna" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Args -->
  <xacro:arg name="hw_interface_plugin" default="swerve_hardware/IsaacDriveHardware"/>

  <!-- Include Files -->
  <xacro:include filename="$(find edna_description)/urdf/control/drive.xacro" />
  <xacro:include filename="$(find edna_description)/urdf/util/macros.xacro" />
  <xacro:include filename="$(find edna_description)/urdf/util/materials.xacro" />
  <xacro:include filename="$(find edna_description)/urdf/parts/square_chassis.xacro" />
  <xacro:include filename="$(find edna_description)/urdf/parts/swerve_axle.xacro" />
  <xacro:include filename="$(find edna_description)/urdf/parts/zed_macro.urdf.xacro" />

  <!-- Axle Position Variables -->
  <xacro:property name="axle_pos" value="${301.625 / 1000}" />
  <xacro:property name="axle_pos_y" value="${69.056 / 1000}" />

  <!-- Camera Position Variables -->
  <xacro:property name="cam_pos" value=".3575 0.085 0.0"/> <!-- Made up values, replace with real ones later. -->

  <xacro:square_chassis prefix="swerve" />
  <xacro:swerve_axle prefix="front_left" parent="swerve_chassis_link">
    <origin xyz="${axle_pos} ${axle_pos_y} ${axle_pos}" rpy="${pi / 2} 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="front_right" parent="swerve_chassis_link">
    <origin xyz="-${axle_pos} ${axle_pos_y} ${axle_pos}" rpy="${pi / 2} 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="rear_left" parent="swerve_chassis_link">
    <origin xyz="${axle_pos} ${axle_pos_y} -${axle_pos}" rpy="${pi / 2} 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="rear_right" parent="swerve_chassis_link">
    <origin xyz="-${axle_pos} ${axle_pos_y} -${axle_pos}" rpy="${pi / 2} 0 0" />
  </xacro:swerve_axle>
  
  <xacro:zed_camera name="zed_camera" model="zed2i" parent="swerve_chassis_link">
    <origin xyz="${cam_pos}" rpy="${pi/2} 0 0" />
  </xacro:zed_camera>

  <xacro:swerve_drive_control plugin="$(arg hw_interface_plugin)" />
</robot>